
Un objectif supervisé de régression:prédire les baisses de prix (avec  RandomForestRegressor)

In [266]:
import pandas as pd
import matplotlib.pyplot as plt

# Lire le fichier depuis l'environnement Colab
df = pd.read_excel("MG.xlsx")

# Afficher un aperçu des données
df.head()

,Produit,Marque,Prix,Prix_avant_remise,Taille,Pourcentage,magasin,Code_Produit,id_entreprise,Date_D_Achat,Quantite_Achetee
0,Boisson gazeuse,VIVA,2.10,2.49,1L,-16%,MG,M-1501,3,30/09/2023,3
1,Boisson gazeuse,TROPICO,2.10,2.49,1L,-16%,MG,M-1502,3,22/01/2023,4
2,Boisson gazeuse,RAOUA,2.10,2.49,1L,-16%,MG,M-1503,3,01/03/2024,4
3,Boisson gazeuse,VIVA,1.15,1.33,24 cl,-14%,MG,M-1504,3,23/01/2023,2
4,Boisson gazeuse,RAOUA,1.15,1.33,24 cl,-14%,MG,M-1505,3,31/05/2024,3

In [267]:
# Afficher les noms des colonnes du DataFrame
print(df.columns)

Index(['Produit', 'Marque', 'Prix', 'Prix_avant_remise', 'Taille',
       'Pourcentage', 'magasin', 'Code_Produit', 'id_entreprise',
       'Date_D_Achat', 'Quantite_Achetee'],
      dtype='object')

In [268]:
print(df[["Date_D_Achat", "Prix", "Prix_avant_remise"]].head())
print(df.dtypes)

  Date_D_Achat  Prix  Prix_avant_remise
0   30/09/2023  2.10               2.49
1   22/01/2023  2.10               2.49
2   01/03/2024  2.10               2.49
3   23/01/2023  1.15               1.33
4   31/05/2024  1.15               1.33
Produit               object
Marque                object
Prix                 float64
Prix_avant_remise    float64
Taille                object
Pourcentage           object
magasin               object
Code_Produit          object
id_entreprise          int64
Date_D_Achat          object
Quantite_Achetee       int64
dtype: object

In [269]:
df["Date_D_Achat"] = pd.to_datetime(df["Date_D_Achat"], errors='coerce')
df["Date_D_Achat"]

<ipython-input-269-c563ae313c96>:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Date_D_Achat"] = pd.to_datetime(df["Date_D_Achat"], errors='coerce')

0     2023-09-30
1     2023-01-22
2     2024-03-01
3     2023-01-23
4     2024-05-31
         ...
167   2023-04-25
168   2023-04-25
169   2024-09-17
170   2023-11-03
171   2023-12-28
Name: Date_D_Achat, Length: 172, dtype: datetime64[ns]

In [278]:
print(df[["Date_D_Achat", "Prix", "Prix_avant_remise"]].isnull().sum())
print(df[["Prix", "Prix_avant_remise"]].describe())

Date_D_Achat         0
Prix                 0
Prix_avant_remise    0
dtype: int64
             Prix  Prix_avant_remise
count  172.000000         172.000000
mean     5.934852           7.287124
std      5.683340           7.171639
min      0.380000           0.430000
25%      2.297500           3.150000
50%      4.040000           5.705000
75%      6.340000           7.692500
max     29.990000          41.990000

In [279]:
df["Prix"] = df["Prix"].fillna(df["Prix"].mean())
df["Prix_avant_remise"] = df["Prix_avant_remise"].fillna(df["Prix_avant_remise"].mean())

In [280]:
# Imputer les valeurs manquantes sans utiliser inplace=True
df['Quantite_Achetee'] = df['Quantite_Achetee'].fillna(df['Quantite_Achetee'].mean())
df['Produit'] = df['Produit'].fillna(df['Produit'].mode()[0])
df['Marque'] = df['Marque'].fillna(df['Marque'].mode()[0])
df['Pourcentage'] = df['Pourcentage'].fillna(df['Pourcentage'].mode()[0])
# Vérifier les NaN après traitement
print("Après traitement des NaN:")
print(df.isna().sum())

Après traitement des NaN:
Produit              0
Marque               0
Prix                 0
Prix_avant_remise    0
Taille               0
Pourcentage          0
magasin              0
Code_Produit         0
id_entreprise        0
Date_D_Achat         0
Quantite_Achetee     0
dtype: int64

In [281]:
print(df['Pourcentage'])

0     -16.0
1     -16.0
2     -16.0
3     -14.0
4     -14.0
       ...
167   -25.0
168   -25.0
169   -25.0
170   -25.0
171   -25.0
Name: Pourcentage, Length: 172, dtype: float64

In [282]:
# Imputer les NaN dans la colonne Taille (avec le mode)
df['Taille'] = df['Taille'].fillna(df['Taille'].mode()[0])


# Vérification après traitement
print("Après traitement des NaN:")
print(df.isna().sum())

Après traitement des NaN:
Produit              0
Marque               0
Prix                 0
Prix_avant_remise    0
Taille               0
Pourcentage          0
magasin              0
Code_Produit         0
id_entreprise        0
Date_D_Achat         0
Quantite_Achetee     0
dtype: int64

In [283]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
# Initialiser LabelEncoder
label_encoder = LabelEncoder()

# Appliquer Label Encoding sur la colonne 'Produit'
df['Produit_encoded'] = label_encoder.fit_transform(df['Produit'])

# Afficher le DataFrame avec l'encodage
print(df[['Produit', 'Produit_encoded']])

                Produit  Produit_encoded
0       Boisson gazeuse                8
1       Boisson gazeuse                8
2       Boisson gazeuse                8
3      Boisson gazeuse                 9
4      Boisson gazeuse                 9
..                  ...              ...
167  GEL COIFFANT EFFET               65
168     SAVON DE MENAGE              112
169     Savon de menage              116
170   Vinaigre a menage              132
171     Savon de menage              116

[172 rows x 2 columns]

In [284]:
df['Marque_encoded'] = label_encoder.fit_transform(df['Marque'])
df['Taille_encoded'] = label_encoder.fit_transform(df['Taille'])

In [285]:
# Convertir la colonne 'Date_D_Achat' en format datetime
df['Date_D_Achat'] = pd.to_datetime(df['Date_D_Achat'], format='%d/%m/%Y')

In [286]:
# Extraire des informations de date (année, mois, jour, etc.)
df['Annee'] = df['Date_D_Achat'].dt.year
df['Mois'] = df['Date_D_Achat'].dt.month
df['Jour'] = df['Date_D_Achat'].dt.day

In [287]:
from sklearn.model_selection import train_test_split
# Sélectionner les features et la cible
X = df[['Produit_encoded', 'Marque_encoded', 'Taille_encoded', 'Quantite_Achetee', 'Annee', 'Mois', 'Jour']]
y = df['Pourcentage']  # C'est la variable cible (à prédire)

# Diviser en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Affichage des données préparées pour l'entraînement
print(X_train.head())

     Produit_encoded  Marque_encoded  Taille_encoded  Quantite_Achetee  Annee  \
101               27              13              11                 2   2023
56                74              45              60                 3   2023
42               139              32              11                 2   2024
82                22              80              11                 1   2023
65               102               6              56                 1   2024

     Mois  Jour
101     1    18
56      1    29
42      8    25
82     12    31
65      9    22

In [288]:
# Convertir la colonne 'Pourcentage' en nombre (en enlevant le % et en divisant par 100 si nécessaire)
df['Pourcentage'] = df['Pourcentage'].replace({r'%': ''}, regex=True).astype(float)


print(df['Pourcentage'])

0     -16.0
1     -16.0
2     -16.0
3     -14.0
4     -14.0
       ...
167   -25.0
168   -25.0
169   -25.0
170   -25.0
171   -25.0
Name: Pourcentage, Length: 172, dtype: float64

In [293]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Entraîner le modèle de régression
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# Prédictions sur les données de test
y_pred = model.predict(X_test)

In [290]:
import sklearn
print(sklearn.__version__)

1.6.1

In [291]:
pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.6.0)

In [295]:


import numpy as np
from sklearn.metrics import mean_squared_error

# Calcul de la MSE (Mean Squared Error)
mse = mean_squared_error(y_test, y_pred)

# Calcul du RMSE en prenant la racine carrée de la MSE
rmse = np.sqrt(mse)

print(f"RMSE : {rmse}")

RMSE : 5.755439166562358

In [296]:
df.head()

,Produit,Marque,Prix,Prix_avant_remise,Taille,Pourcentage,magasin,Code_Produit,id_entreprise,Date_D_Achat,Quantite_Achetee,Produit_encoded,Marque_encoded,Taille_encoded,Annee,Mois,Jour
0,Boisson gazeuse,VIVA,2.10,2.49,1L,-16.0,MG,M-1501,3,2023-09-30,3,8,104,23,2023,9,30
1,Boisson gazeuse,TROPICO,2.10,2.49,1L,-16.0,MG,M-1502,3,2023-01-22,4,8,99,23,2023,1,22
2,Boisson gazeuse,RAOUA,2.10,2.49,1L,-16.0,MG,M-1503,3,2024-03-01,4,8,85,23,2024,3,1
3,Boisson gazeuse,VIVA,1.15,1.33,24 cl,-14.0,MG,M-1504,3,2023-01-23,2,9,104,30,2023,1,23
4,Boisson gazeuse,RAOUA,1.15,1.33,24 cl,-14.0,MG,M-1505,3,2024-05-31,3,9,85,30,2024,5,31

In [ ]:
#interpretation
#Un RMSE faible signifie que les valeurs prédites sont proches des valeurs réelles, donc le modèle est précis.
#Un RMSE élevé indique que les prédictions sont souvent loin des valeurs réelles, ce qui signifie que le modèle fait des erreurs importantes.

In [297]:
# Exemple d'inputs pour un produit spécifique
produit_test = 5   # Remplace avec l'encodage réel du produit
marque_test = 3    # Remplace avec l'encodage réel de la marque
taille_test = 2    # Remplace avec l'encodage réel de la taille
quantite_test = 1  # Nombre d'unités achetées
annee_test = 2024  # Année d'achat
mois_test = 3      # Mois d'achat (mars)
jour_test = 29     # Jour d'achat (29)

# Créer un input sous forme de liste
input_test = [[produit_test, marque_test, taille_test, quantite_test, annee_test, mois_test, jour_test]]

# Faire la prédiction
prediction = model.predict(input_test)

# Afficher le résultat
print(f"Pourcentage de réduction prédit : {prediction[0]:.2f}%")

Pourcentage de réduction prédit : -22.15%

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(


# **Série temp**